* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: #0e0d0d;
}
.overall-container {
    height: 100%;
}
.menu-container {
    height: 60px;
    width: 100vw;
    background: #000000;
    z-index: 2;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    padding-left: 15px;
    justify-content: start;
    span {
        font-family: "Audiowide", sans-serif;
        font-size: 41px;
        font-weight: 900;
        color: #9d00ff;
    }
}
.main-content-container {
    background-image: url("https://i.makeagif.com/media/12-04-2018/IxHq7M.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 3rem 0;
    min-height: 100dhv;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.introduction-details {
    width: 100%;
    max-width: 450px;
    text-align: center;
    display: flex;
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: blur(10px);
    img {
        width: 100%;
        max-width: 450px;
        border-radius: 20px;
        margin-top: 3rem;
        & img:nth-child(2) {
            transform: rotate(90deg);
        }
    }
}
.intro {
    font-size: 26px;
    font-family: 'Dela Gothic One', serif;
    line-height: 30px;
    width: 40%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 1rem;
    border-radius: 20px;
    padding: 20px 3rem;
    color: white;
    background: transparent;
    height: 300px;
}
.transaction-container {
    height: 450px;
    width: 90%;
    max-width: 330px;
    margin:  3rem auto;
    opacity: 0;
    transform: scale(.9);
    position: relative;
    border-radius: 20px;
    background: #0b0b0b97;
    color: #ffffff;
    .head {
        width: 100%;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Dela Gothic One', serif;
            img {
                padding-left: 10px;
                width: 60px;
            }
        }
    }
    .form-container {
        margin-top: 1rem;
        padding: 13px;
        form {
            display: flex;
            width: 100%;
            margin-top: 1rem;
            flex-flow: row wrap;
            align-items: center;
            padding: 10px5;
            label {
                color: #c8c8c8;
                font-size: 13px;
                margin-bottom: -30px;
                margin-left: 15px;
                z-index: 2;
                font-family: Arial;
                font-weight: 700;
                img {
                    width: 20px;
                    border-radius: 50%;
                }
            }
            input {
                background: #252525;
                padding: 10px 25px;
                border: none;
                outline: none;
                color: #ffffff;
                font-size: 15px;
                font-weight: bolder;
                margin-bottom: 1rem;
                border-radius: 20px;
                height: 70px;
                width: 100%;
                &::placeholder {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            select {
                background: #323232b9;
                padding: 10px;
                border: none;
                outline: none;
                color: #c8c8c8;
                font-size: 14px;
                margin-bottom: 1rem;
                border-radius: 20px;
                height: 80px;
                width: 100%;
                font-family: 'Dela Gothic One', serif;
                text-align: start;
                option {
                    padding: 10px;
                    color: #ffffff;
                    font-size: 14px;
                    height: 50px;
                    font-family: Sans-serif;
                }
            }
            button {
                font-weight: 900;
                padding: 10px;
                border: none;
                position: absolute;
                font-size: 13px;
                bottom: 15px;
                border-radius: 10px;
                width: 90%;
                height: 40px;
                transform: scale(1);
                left: 15px;
                background: #9d00ff;
                color: #000000;
                &:active {
                    animation: spring 1s;
                    animation-timing-function: ease;
                    animation-iteration-count: infinite;
                    animation-play-state: running;
                }
                &:hover {
                    background: #660095;
                }
            }
        }
    }
}
.steps {
    width: 100%;
    padding: 30px 20px;
    transform: scale(.8);
    filter: blur(10px);
    left: -30%;
    margin: 5rem 0;
    border-radius: 30px;
    position: absolute;
    background: transparent;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/uuuuuhupu.jpeg"); */
    font-family: 'Dela Gothic One', serif;
    div {
        font-weight: 700;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #9d00ff;
        img {
            margin-left: 1rem;
        }
    }
    img {
        width: 80px;
    }
    li {
        color: #ffffff;
        font-size: 18px;
        font-family: "Inter", sans-serif;
        margin: 20px 0;
        max-width: 500px;
        list-style-type: square;
    }
}

.coming-soon {
    position: fixed;
    width: 33vw;
    min-width: 340px;
    height: 150px;
    display: none;
    z-index: 2;
    top: 30%;
    padding: 2rem;
    border-radius: 15px;
    background: #090909;
    border: 2px solid #9d00ff;
    place-self: center;
    text-align: center;
    animation: spring 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: initial;
    animation-play-state: running;
    span {
        color: #9d00ff;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p {
        color: #898989;
        margin-top: 20px;
        font-size: smaller;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}



@media screen and (max-width: 860px) {
    .transaction-container {
        width: 100%;
        box-shadow: none;
    }
    .main-content-container {
        flex-direction: column;
    }
}

@keyframes spring {
    0% { transform: scale(1) translateY(0); }
    10% { transform: scale(1.2, 0.6); }
    30% { transform: scale(0.8, 1.1) translateY(-20px); }
    50% { transform: scale(1) translateY(0); }
    100% { transform: translateY(0); }
  }

.scroll-animate {
    opacity: 1;
    transform: scale(1);
    position: relative;
    left: 0;
    filter: blur(0px);
    transition: all .5 .8s linear;
}
