* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: #0e0d0d;
}
.overall-container {
    height: 100%;
}
.menu-container {
    height: 60px;
    width: 100vw;
    z-index: 2;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    border-bottom: .5px solid #ffffff;
    backdrop-filter: blur(5px);
    padding-left: 15px;
    justify-content: center;
    img {
        width: 50px;
        justify-content: start;
        padding: 5px;
        border-radius: 50%;
    }
    span {
        font-family: "Audiowide", sans-serif;
        font-size: 41px;
        font-weight: 900;
        margin: 0 5px;
        color: #ffffff;
    }
}
.main-content-container {
    background-image: url("https://i.makeagif.com/media/12-04-2018/IxHq7M.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 3.5rem 0;
    min-height: 100dhv;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.introduction-details {
    width: 100%;
    max-width: 450px;
    text-align: center;
    display: flex;
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: blur(10px);
    img {
        width: 100%;
        max-width: 450px;
        border-radius: 20px;
        margin-top: 3rem;
        & img:nth-child(2) {
            transform: rotate(90deg);
        }
    }
}
.intro {
    font-size: 27px;
    font-family: 'Dela Gothic One', serif;
    line-height: 35px;
    width: 60%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 1rem;
    border-radius: 20px;
    padding: 20px 1rem;
    color: white;
    background: transparent;
    height: 300px;
}
.transaction-container {
    height: 450px;
    width: 90%;
    max-width: 330px;
    margin:  3rem auto;
    opacity: 0;
    transform: scale(.9);
    position: relative;
    border-radius: 20px;
    background: #0b0b0b97;
    color: #ffffff;
    .head {
        width: 100%;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Dela Gothic One', serif;
            img {
                padding-left: 10px;
                width: 60px;
            }
        }
    }
    .form-container {
        margin-top: 1rem;
        padding: 13px;
        form {
            display: flex;
            width: 100%;
            margin-top: 1rem;
            flex-flow: row wrap;
            align-items: center;
            padding: 10px5;
            label {
                color: #c8c8c8;
                font-size: 13px;
                margin-bottom: -30px;
                margin-left: 15px;
                z-index: 2;
                font-family: Arial;
                font-weight: 700;
                img {
                    width: 20px;
                    border-radius: 50%;
                }
            }
            input {
                background: #252525;
                padding: 10px 25px;
                border: none;
                outline: none;
                color: #ffffff;
                font-size: 15px;
                font-weight: bolder;
                margin-bottom: 1rem;
                border-radius: 20px;
                height: 70px;
                width: 100%;
                &::placeholder {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            select {
                background: #323232b9;
                padding: 10px;
                border: none;
                outline: none;
                color: #c8c8c8;
                font-size: 14px;
                margin-bottom: 1rem;
                border-radius: 20px;
                height: 80px;
                width: 100%;
                font-family: 'Dela Gothic One', serif;
                text-align: start;
                option {
                    padding: 10px;
                    color: #ffffff;
                    font-size: 14px;
                    height: 50px;
                    font-family: Sans-serif;
                }
            }
            button {
                font-weight: 900;
                padding: 10px;
                border: none;
                position: absolute;
                font-size: 13px;
                bottom: 15px;
                border-radius: 10px;
                width: 90%;
                height: 40px;
                transform: scale(1);
                left: 15px;
                background: #ff394a;
                color: #000000;
                &:active {
                    animation: spring 1s;
                    animation-timing-function: ease;
                    animation-iteration-count: infinite;
                    animation-play-state: running;
                }
                &:hover {
                    background: #b92d39;
                }
            }
        }
    }
}
.steps {
    width: 100%;
    padding: 30px 20px;
    transform: scale(.8);
    filter: blur(10px);
    left: -30%;
    margin: 5rem 0;
    border-radius: 30px;
    position: absolute;
    background: transparent;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/uuuuuhupu.jpeg"); */
    font-family: 'Dela Gothic One', serif;
    div {
        font-weight: 700;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #9d00ff;
        h1 {
            opacity: 0;
            font-family: "Work Sans", sans-serif;
            background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
            font-weight: 800;
            width: auto;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            overflow: hidden;
            animation: shring-animation 3s steps(40,end) 2s forward, blink .5s step-end infinite alternate;
        }
        img {
            margin-left: 1rem;
        }
    }
    img {
        width: 80px;
    }
    li {
        color: #ffffff;
        font-size: 18px;
        font-family: "Inter", sans-serif;
        margin: 20px 0;
        max-width: 500px;
        list-style-type: square;
    }
}

.coming-soon {
    position: fixed;
    width: 40vw;
    min-width: 340px;
    height: 200px;
    display: none;
    z-index: 2;
    top: 30%;
    padding: 2rem;
    border-radius: 15px;
    background: #090909;
    border: 2px solid #ff394a;
    place-self: center;
    text-align: center;
    animation: spring 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: initial;
    animation-play-state: running;
    span {
        color: #ff394a;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p {
        color: #898989;
        margin-top: 20px;
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}



@media screen and (max-width: 860px) {
    .transaction-container {
        width: 100%;
        box-shadow: none;
    }
    .main-content-container {
        flex-direction: column;
    }
}

@keyframes spring {
    0% { transform: scale(1) translateY(0); }
    10% { transform: scale(1.2, 0.6); }
    30% { transform: scale(0.8, 1.1) translateY(-20px); }
    50% { transform: scale(1) translateY(0); }
    100% { transform: translateY(0); }
  }

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.scroll-animate {
    opacity: 1;
    transform: scale(1);
    position: relative;
    left: 0;
    filter: blur(0px);
    transition: all .5 .8s linear;
}


.glitch {
  position: relative;
  color: #fff;
  font-size: 4em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #ff00c1, 2px 2px #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(19px, 9999px, 17px, 0);
    transform: skew(0.9deg);
  }
  5% {
    clip: rect(42px, 9999px, 68px, 0);
    transform: skew(0.79deg);
  }
  10% {
    clip: rect(8px, 9999px, 43px, 0);
    transform: skew(0.14deg);
  }
  15% {
    clip: rect(19px, 9999px, 98px, 0);
    transform: skew(0.8deg);
  }
  20% {
    clip: rect(8px, 9999px, 21px, 0);
    transform: skew(0.06deg);
  }
  25% {
    clip: rect(40px, 9999px, 60px, 0);
    transform: skew(0.65deg);
  }
  30% {
    clip: rect(88px, 9999px, 12px, 0);
    transform: skew(0.57deg);
  }
  35% {
    clip: rect(68px, 9999px, 42px, 0);
    transform: skew(0.98deg);
  }
  40% {
    clip: rect(61px, 9999px, 55px, 0);
    transform: skew(0.24deg);
  }
  45% {
    clip: rect(5px, 9999px, 79px, 0);
    transform: skew(0.11deg);
  }
  50% {
    clip: rect(8px, 9999px, 36px, 0);
    transform: skew(0.35deg);
  }
  55% {
    clip: rect(92px, 9999px, 6px, 0);
    transform: skew(0.28deg);
  }
  60% {
    clip: rect(47px, 9999px, 54px, 0);
    transform: skew(0.76deg);
  }
  65% {
    clip: rect(82px, 9999px, 66px, 0);
    transform: skew(0.66deg);
  }
  70% {
    clip: rect(48px, 9999px, 81px, 0);
    transform: skew(0.84deg);
  }
  75% {
    clip: rect(10px, 9999px, 65px, 0);
    transform: skew(0.58deg);
  }
  80% {
    clip: rect(27px, 9999px, 48px, 0);
    transform: skew(0.84deg);
  }
  85% {
    clip: rect(75px, 9999px, 53px, 0);
    transform: skew(0.62deg);
  }
  90% {
    clip: rect(70px, 9999px, 13px, 0);
    transform: skew(0.92deg);
  }
  95% {
    clip: rect(37px, 9999px, 90px, 0);
    transform: skew(0.29deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(100px, 9999px, 75px, 0);
    transform: skew(0.63deg);
  }
  5% {
    clip: rect(89px, 9999px, 82px, 0);
    transform: skew(0.75deg);
  }
  10% {
    clip: rect(69px, 9999px, 45px, 0);
    transform: skew(0.14deg);
  }
  15% {
    clip: rect(28px, 9999px, 8px, 0);
    transform: skew(0.53deg);
  }
  20% {
    clip: rect(36px, 9999px, 23px, 0);
    transform: skew(0.13deg);
  }
  25% {
    clip: rect(32px, 9999px, 38px, 0);
    transform: skew(0.64deg);
  }
  30% {
    clip: rect(15px, 9999px, 33px, 0);
    transform: skew(0.77deg);
  }
  35% {
    clip: rect(37px, 9999px, 24px, 0);
    transform: skew(0.14deg);
  }
  40% {
    clip: rect(66px, 9999px, 70px, 0);
    transform: skew(0.72deg);
  }
  45% {
    clip: rect(51px, 9999px, 70px, 0);
    transform: skew(0.41deg);
  }
  50% {
    clip: rect(56px, 9999px, 21px, 0);
    transform: skew(0.32deg);
  }
  55% {
    clip: rect(80px, 9999px, 79px, 0);
    transform: skew(0.85deg);
  }
  60% {
    clip: rect(41px, 9999px, 88px, 0);
    transform: skew(0.9deg);
  }
  65% {
    clip: rect(92px, 9999px, 17px, 0);
    transform: skew(0.68deg);
  }
  70% {
    clip: rect(50px, 9999px, 79px, 0);
    transform: skew(0.03deg);
  }
  75% {
    clip: rect(22px, 9999px, 71px, 0);
    transform: skew(0.04deg);
  }
  80% {
    clip: rect(89px, 9999px, 9px, 0);
    transform: skew(0.05deg);
  }
  85% {
    clip: rect(13px, 9999px, 1px, 0);
    transform: skew(0.27deg);
  }
  90% {
    clip: rect(72px, 9999px, 42px, 0);
    transform: skew(0.43deg);
  }
  95% {
    clip: rect(62px, 9999px, 6px, 0);
    transform: skew(0.72deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-2deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(3deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(-4deg);
  }
  60% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(0deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(-2deg);
  }
}
